*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
color: white;
}

body{
    background-color: rgba(20, 206, 234, 0.947);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.actualContent{
    height: 503px;
    width: 362px;
    background-color: rgba(201, 18, 61, 0.995);
}

.nameBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastNameBox input{
    margin-left: 2px;
    height: 37px;
}

.lastNameHeading{
    padding-left: 9px;
}

.firstNameHeading{
    padding-left: 9px;
}

.emailAddressHeading{
    padding-left: 22px;
}

.emailAddress input{
    position: relative;
    left: 15px;
    width: 91%;

    height: 37px;
}

.inputFieldBox{
    /* height: 20px; */
    width: 332px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    left: 15px;

    height: 37px;
}

.lastNameInputBox input{
    width: 95%;
    height: 37px;
    height: 37px;
}

.firstNameInputBox input{
    width: 95%;
    height: 37px;
}

.male{
    margin-right: 17%;   
    width: 41px;
    border-radius: 6px;
}

.female{
    /* height: 95%; */
    border-radius: 6px;
}

.male:hover{
    cursor: pointer;
    background-color: pink;
    padding: 5px;
}

.female:hover{
    cursor: pointer;
    background-color: pink;
    padding: 5px;
}

.genderHeading{
    padding-left: 22px;
}

.cityBox input{
    position: relative;
    left: 15px;
    width: 91%;

    height: 37px;
}

.cityHeading{
    padding-left: 22px;
}

.countryHeading{
    padding-left: 22px;
}

.countryBox input{
    position: relative;
    left: 15px;
    width: 91%;

    height: 37px;
}

.registerButton button{
    position: relative;
    left: 15px;
    width: 91%;
    height: 37px;

    background-color: pink;
    color: black;
}

.registerButton button:hover{
    cursor: pointer;
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.item{
    padding-top: 16px;
    /* height: 20%; */
}

.inputBox{
    height: 10%;
    text-align: center;
    font-size: 13px;
}

h1{
    text-align: center;
    color: black;
}